body {
	margin: 0;
	font-family: 'Press Start 2P', cursive;
}

.wrapper {
	height: 100vh;
}

.background-image {
	background-size: 100vw;
	background-position: bottom 0 right 0;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	position: absolute;
	bottom: 0;
}

.top {
	display: flex;
	justify-content: space-between;
	color: white;
}

.top * {
	margin-top: 5px;
}

.top .epoch, .top .date, .top .seconds {
	margin: 30px 60px;
	font-size: calc(0.013 * 100vw);
}

.top .date {
	text-align: center;
}

.top .seconds {
	text-align: right;
}

.blocks {
	display: flex;
	height: calc(0.085 * 100vw);
	position: absolute;
	bottom: calc(0.2 * 100vw);
	left: 43%;
}

.blocks #hour, .blocks #minute {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: auto calc(0.085 * 100vw);
	background-repeat: no-repeat;
	width: calc(0.084 * 100vw);
}

.blocks span {
	position: absolute;
	font-size: calc(0.03 * 100vw);
}

#mario {
	position: absolute;
	bottom: calc(0.082 * 100vw);
	background-size: auto calc(0.045 * 100vw);
	background-repeat: no-repeat;
	width: calc(0.045 * 100vw);
	height: calc(0.045 * 100vw);
	left: 50%;
}

.jump {
	animation-name: jump;
	animation-duration: 400ms;
	animation-timing-function: linear;
	animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes jump {
	0% { transform: translateY(0) }
	100% { transform: translateY(calc(-0.075 * 100vw)) }
}

.brick-nudge {
	animation-name: brick-nudge;
	animation-duration: 125ms;
	animation-timing-function: linear;
	animation-iteration-count: 2;
  animation-direction: alternate;
}

@keyframes brick-nudge {
	0% { transform: translateY(0) }
	100% { transform: translateY(calc(-0.03 * 100vw)) }
}

#goomba {
	background-repeat: no-repeat;
	background-size: calc(0.035 * 100vw);
	height: calc(0.035 * 100vw);
	width: calc(0.035 * 100vw);
	position: absolute;
	bottom: calc(0.082 * 100vw);
	right: -8vw;
}

.goomba-walk {
	animation-name: goomba-walk;
	animation-duration: 7700ms;
	animation-timing-function: linear;
}

@keyframes goomba-walk {
	0% { transform: translateX(0) }
	100% { transform: translateX(-105vw) }
}


/* SMB 1 */

.smb1 {
	background-color: #a1adff;
}

.smb1 .background-image {
	background-image: url('images/smb1-background.jpg');
}

.smb1 .blocks span {
	color: #DA5B24;
	text-shadow: black calc(0.004 * 100vw) calc(0.004 * 100vw);
}

.smb1 #mario {
	background-image: url('images/sprites/smb1/mario.png');
}

.smb1 #mario.jump {
	background-image: url('images/sprites/smb1/mario-jump.png');
}

.smb1 .blocks #hour, .smb1 .blocks #minute {
	background-image: url('images/sprites/smb1/block.png');
}

.smb1 #goomba {
	background-image: url('images/sprites/smb1/goomba.gif');
}


/* SMB 3 */

.smb3 {
	background-color: #a8fef0;
}

.smb3 .background-image {
	background-image: url('images/smb3-background.jpg');
}

.smb3 .blocks span {
	color: #DA5B24;
	text-shadow: black calc(0.004 * 100vw) calc(0.004 * 100vw);
}

.smb3 #mario {
	background-image: url('images/sprites/smb3/mario.png');
}

.smb3 #mario.jump {
	background-image: url('images/sprites/smb3/mario-jump.png');
}

.smb3 .blocks #hour, .smb3 .blocks #minute {
	background-image: url('images/sprites/smb3/block.png');
}

.smb3 #goomba {
	background-image: url('images/sprites/smb3/goomba.gif');
}

/* SMB 5 */

.smb5 {
	background-color: #add5f8;
}

.smb5 .background-image {
	background-image: url('images/smb5-background.jpg');
}

.smb5 .blocks span {
	color: white;
	text-shadow: none;
	-webkit-text-stroke-width: calc(0.0025 * 100vw);
	-webkit-text-stroke-color: black;
}

.smb5 #mario {
	background-image: url('images/sprites/smb5/mario.png');
}

.smb5 #mario.jump {
	background-image: url('images/sprites/smb5/mario-jump.png');
}

.smb5 .blocks #hour, .smb5 .blocks #minute {
	background-image: url('images/sprites/smb5/block.png');
}

.smb5 #goomba {
	background-image: url('images/sprites/smb5/goomba.gif');
}
